/*
    Override some of Bootstrap's settings
*/

body {background-color: #fffacd;}

.header {
    color: #891d2d;
    display: inline;
}

#study-table td {
    width: 21em;
}
#gene-entry-table td {
    width: 21em;
}