<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    {% load staticfiles %}
    <title>MMCRI CardioCPI v2</title>
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css">
{#    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/plug-ins/28e7751dbec/integration/bootstrap/3/dataTables.bootstrap.css">#}
    <!-- jquery library -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/select2.js' %}"></script>
    <!-- CardioCPIv2 javascript -->
    <script src="{% static 'js/cardiocpiv2.js' %}"></script>

    <link href="{% static 'css/select2.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
{#    <link href="//cdn.datatables.net/plug-ins/28e7751dbec/integration/bootstrap/3/dataTables.bootstrap.css"#}
{#          rel="stylesheet" type="text/css">#}
{#    <script src="//cdn.datatables.net/plug-ins/28e7751dbec/integration/bootstrap/3/dataTables.bootstrap.js"#}
{#            type="text/javascript"></script>#}
    <!-- CardioCPIv2 styling -->
    <link href="{% static 'css/cardiocpiv2.css' %}" rel="stylesheet" media="screen">
</head>
<body>
<div class="row">
    <div class="span3">
        <div class="row">
            <div class="span3">
                <img src="{% static 'image/MMCRI_2.gif' %}"/>
            </div>
        </div>
    </div>
    <div class="span9">
        <div class="row">
            <div class="span9">
                <h1></h1>

                <h1 class="header">CardioCPI </h1>
                <h4 class="header">Cross Platform Integration</h4>

                <h1></h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="span12">
        <div id="studies">
            <table id="study-table" class="table table-condensed table-bordered">
                <thead>
                <tr>
                    <th class="study">Studies</th>
                    <th class="platform">Gene Expression Platforms</th>
                    <th class="platform">Non-coding Expression Platforms</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <input type="checkbox" id="GSE35781|CB"
                               onchange="toggle_platforms('GSE35781');"/>
                        Noncoding RNA expression in myocardium from infants with tetralogy of Fallot
                        <a href="http://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=gse35781">GSE35781</a>
                    </td>
                    <td>
                        <div id="GSE35781-platform-EG" style="display: none;"></div>
                    </td>
                    <td class="symbol-entry" >
                        <div id="GSE35781-platform-MI" style="display: none;">
                            <select id="platform|GSE35781|Expression_miRNA" style="width: 21em;">
                                <option value='none'>no platform selected</option>
                                <option value='Affymetrix_miRNA_Array'>Affymetrix miRNA Array</option>
                            </select>
                            <input type="hidden" id="platform" value="none"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="GSE26125|CB"
                               onchange="toggle_platforms('GSE26125');"/>
                        Gene expression in cardiac tissues from infants with idiopathic conotruncal defects
                        <a href="http://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=gse26125">GSE26125</a>
                    </td>
                    <td class="symbol-entry">
                        <div id="GSE26125-platform-EG" style="display: none;">
                            <select id="platform|GSE26125|Expression_Genes" style="width: 21em;">
                                <option value="none">no platform selected</option>
                                <option value="Human_Whole_Genome_Bioarray">Human Whole Genome Bioarray</option>
                            </select>
                            <input type="hidden" id="platform" value="none"/>
                        </div>
                    </td>
                    <td>
                        <div id="GSE26125-platform-MI" style="display: none;"></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="span12">
        <div id="gene-selection">
            <table id="gene-entry-table" class="table table-condensed table-bordered">
                <tbody>
                <tr>
                    <td class="study">
                        Enter gene/non-coding symbols:
                        <input id="clear-symbols" name="clear-symbols" type="button" class="btn btn-info btn-small"
                               value="Clear symbols"/>
                    </td>
                    <td class="platform">
                        <input type="hidden" id="symbols_Expression_Genes" style="width:24em;"/>
                    </td>
                    <td class="platform">
                        <input type="hidden" id="symbols_Expression_miRNA" style="width:24em;"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="span12">
        <div class="accordion" id="statistics-accordion">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#statistics-accordion"
                       href="#statistics-collapsible">
                        Click here to access statistical facilities.
                    </a>
                </div>
                <div id="statistics-collapsible" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <div class="row">
                            <form class="form-inline">
                                <div class="span3"></div>
                                <div class="span5 well">
                                    <input id="statistics-btn" name="statistics-btn" type="button" class="btn btn-info"
                                           value="Statistics"/>
                                    <select id="cutoff-type" style="width:8em;">
                                        <option value="p-value">P Value</option>
                                        <option value="fdr-value">FDR Value</option>
                                    </select>
                                    &le;
                                    <input id="cutoff-value"
                                           type="number" value="0.05" min="0.01" max="0.1" step="0.01"
                                            style="width:8em;">
                                </div>
                                <div class="span1"></div>
                            </form>
                        </div>
                        <div id="statistics"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="span12">
        <div class="accordion" id="plots-accordion">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#plots-accordion"
                        href="#plots-collapsible">
                        Click here to access plotting facilities.
                    </a>
                </div>
                <div id="plots-collapsible" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <div class="row">
                            <form class="form-inline">
                                <div class="span4"></div>
                                {% csrf_token %}
                                <div class="span3 well">
                                    <input id="plot-btn" name="plot-btn" type="button" class="btn btn-info" value="Plot"/>
                                    <input type="checkbox" id="combined-plot"> Combined plot.
                                </div>
                                <div class="span1"></div>
                            </form>
                        </div>
                        <div class="row">
                            <div class="tabbable span12">
                                <ul class="nav nav-tabs" id="myPlotsTab">
                                    <li class="active">
                                        <a href="#correlation_tab" data-toggle="tab">Correlation Plot</a>
                                    </li>
                                    <li class>
                                        <a href="#heatmap_tab" data-toggle="tab">Heatmap</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane active" id="correlation_tab">
                                        <div id="correlation-plots">
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="heatmap_tab">
                                        <div id="heatmaps">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
